.itt_sw-topper {
  width: 30px;
  height: 3px;
  background: $nav_link_color;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
}

.itt_sw-bottom {
  width: 30px;
  height: 3px;
  margin-top: 6px;
  background: $nav_link_color;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}



.sandwich-animate-top {
  transform: rotate(140deg);
}

.sandwich-animate-bottom {
  margin-top: -2px;
  transform: rotate(-140deg);
}