// Search form
.itt_search-wrap {


  .itt_search-form {
    position: relative;
    width: 100%;
  }

  .itt_search-field {
    padding: 7px;
    margin: 10px 0;
    font-size: 14px;
    background-color: transparent;
  }

  .itt_search-button {
    position: absolute;
    top: 10px;
    right: 0;
    color: $search_link_color;
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;

    &:hover {
      color: $search_link_color_hover;
    }

    .fa-search {
      font-size: 14px;
    }
  }

}


.itt_search-desktop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(255,255,255,0.95);
  display: none;
}

form.itt_search-form-desktop {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input.itt_search-field-desktop {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid $primary-color;
  font-size: 60px;
  color: $primary-color;
}