// ---=== Stars ===---
.itt_rp-stars {

  .itt_rp-stars-rating-empty {
    position: relative;

    &:before {
      content: "\f006\f006\f006\f006\f006";
      font-family: FontAwesome;
      color: $dark-grey;
    }
  }

  .itt_rp-stars-rating {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;

    &:before {
      content: "\f005\f005\f005\f005\f005";
      font-family: FontAwesome;
      color: #FFC600;
      width: 80px;
    }
  }
}

.itt_star {
  &:before {
    content: "\f005";
    font-family: FontAwesome;
    color: #3c414c;
    font-style: initial;
  }
}


// Starbar
.itt_starbar {

  .itt_starbar-rating {
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
  }
}

.itt_sum-rate {
  font-size: 50px;
}