.itt_breadcrumb {
  display: inline-flex;
  flex-direction: row;
  margin: 0;

  .itt_breadcrumb-item {

    &:nth-child(1):before {
      content: "";
      margin: 0;
    }

    &:before {
      display: inline-block;
      content: "/";
      vertical-align: top;
      font-style: normal;
      margin: 0 0.6em;
      color: $breadcrumb-color;
    }

    a {
      color: $breadcrumb-color;
    }
  }
}

.itt_breadcrumb-color {
  background-color: $breadcrumb-bg;
}