// ---===  Header Section ===---
.itt_h_head {
  min-height: 50px;
}

.itt_header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: $nav_bg_color;
  background: -moz-linear-gradient(left, $nav_bg_color 0%, $nav_bg_color_2 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $nav_bg_color), color-stop(100%, $nav_bg_color_2));
  background: -webkit-linear-gradient(left, $nav_bg_color 0%, rgba(18,53,68,1) 100%);
  background: -o-linear-gradient(left, $nav_bg_color 0%, $nav_bg_color_2 100%);
  background: -ms-linear-gradient(left, $nav_bg_color 0%, $nav_bg_color_2 100%);
  background: linear-gradient(to right, $nav_bg_color 0%, $nav_bg_color_2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585b5c', endColorstr='#123544', GradientType=1 );
}

.itt_header-opacity {
  transition: all 0.5s ease-in-out;
}

// Navigation
.itt_nav-list {
  display: inline-flex;
  list-style-type: none;
  margin: 0;

  .itt_nav-item {

    .itt_link {
      text-decoration: none;
      padding: 18px 25px;
      font-size: 14px;
      margin: 0 auto;
      width: 100%;

      span {
        color: $nav_link_color;
      }

      &.active {
        background-color: $nav_link_bg_hover;

        span {
          color: $nav_link_color_hover;
          border-bottom: 1px solid $nav_link_color_hover;
        }
      }

      &:hover {
        background-color: $nav_link_bg_hover;

        span {
          color: $nav_link_color_hover;
          border-bottom: 1px solid $nav_link_color_hover;
        }
      }
    }

  }
}

.itt_logo img {
  height: 44px;
}

.itt_logo-wrap {
  align-items: center;
  justify-content: center;
}