.owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;

  .owl-dot {
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;

    span {
      display: block;
      content: '';
      border: 2px solid $primary-color;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin: 10px auto;
      transition: all 0.3s;
    }

    &.active {

      span {
        background-color: $orange;
        border: 2px solid $primary-color;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 10px auto;
        transition: all 0.3s;
      }
    }
  }
}

.itt_carousel-wrap {
  overflow: hidden;

    .owl-wrapper-outer {
      overflow: hidden;

      .owl-item {
        float: left;
      }
    }
}
