// ---=== Media Queries ===---
@media screen and (min-width: 1200px) {
  .itt_container {
    width: 1170px;
  }

  .hidden-lg {
    display: none;
  }

  .itt_search-field {
    width: 0;
    border: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }

  .itt_search-field {
    width: 0;
    border: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }

  .itt_search-field {
    width: 0;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }

  .itt_nav-list {
    display: block;
    padding: 0;
    margin: 0;

    a.itt_link {
      display: block;
      text-align: center;
    }
  }

  .itt_nav-item {
    .itt_link {
      &.active {
        background-color: $nav_link_color_hover_mobile;
      }

      &:hover {
        background-color: $nav_link_color_hover_mobile;
      }
    }
  }

  .itt_navigation {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    align-items: center;
    padding: 0;
    background: $nav_bg_color;
    background: -moz-linear-gradient(left, $nav_bg_color 0%, $nav_bg_color_2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $nav_bg_color), color-stop(100%, $nav_bg_color_2));
    background: -webkit-linear-gradient(left, $nav_bg_color 0%, rgba(18,53,68,1) 100%);
    background: -o-linear-gradient(left, $nav_bg_color 0%, $nav_bg_color_2 100%);
    background: -ms-linear-gradient(left, $nav_bg_color 0%, $nav_bg_color_2 100%);
    background: linear-gradient(to right, $nav_bg_color 0%, $nav_bg_color_2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585b5c', endColorstr='#123544', GradientType=1 );
    z-index: 9999;
    display: none;
  }

  .itt_search-wrap {
    margin-top: 10px;
  }

  .itt_search-field {
    border: 1px solid #e0e0e0;
    width: 95%;

    &:focus {
      border: 1px solid $primary-color;
      box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease-in-out;
      background-color: $search_field_focus;
    }
  }

  .itt_w-1_xs {
    width: 100%;
  }

  .itt_h_head {
    padding-top: 10px;
    min-height: 92px;
  }

  .itt_sandwich {
    padding-right: 10px;
  }

  .itt_logo img {
    height: 40px;
  }

  //---=== Breadcrumbs ===---
  .itt_breadcrumb {
    flex-direction: column;
  }


  .itt_logo-wrap {
    justify-content: flex-end;
  }

  .itt_btn-wrapper {
    flex-direction: column;
  }

}

